.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active {
    color: red;
}

.dialog {
    text-decoration: none;
}

.messages {
    padding: 10px;
}

.message {

}
